<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Marker Labels</title>
  <style>
    #map {
      height: 100%;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvj4vtNocwxBpiB-UCo2TIL_yOgCvCr6E&libraries=visualization"></script>
  <script>
    let data = "<%= data %>";
    let providence = {
      lat: 41.8240,
      lng: -71.4128
    };

    function initialize() {
      let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: providence
      });

      let points = generateHeatMap(map)
      var heatmap = new google.maps.visualization.HeatmapLayer({
            data: points,
            map: map
      });
      let arrestPoints = generateArrestPoints(map)
      var arrestsheatmap = new google.maps.visualization.HeatmapLayer({
            data: arrestPoints,
            map: map
      });

      heatmap.set('radius', 50);
      heatmap.set('opacity',0.5)
      arrestsheatmap.set('gradient',[
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ])
        arrestsheatmap.set('radius',10)
        arrestsheatmap.set('opacity',1)
    }

    function generateHeatMap(map) {
      let dataList = data.split(",")
      let points = []
      let numArrests = 0
      for (let i = 0; i < dataList.length; i += 3) {
        let lat = parseFloat(dataList[i])
        let lon = parseFloat(dataList[i+1])
        if (isNaN(lat) || isNaN(lon)) {
          continue
        } 
        let isArrest = dataList[i+2]
        if (isArrest == "false") {
          isArrest = false
        } else {
          isArrest = true
        }
        
        let point = new google.maps.LatLng(lat,lon)
        let weight = 1
        if (isArrest) {
          weight = 2
        }
        let datapoint = {location: point, weight: 1}
        points.push(datapoint)
      }
      return points
    }

    function generateArrestPoints(map) {
      let dataList = data.split(",")
      let points = []
      for (let i = 0; i < dataList.length; i+=3) {
        let lat = parseFloat(dataList[i])
        let lon = parseFloat(dataList[i+1])
        let isArrest = dataList[i+2]
        if (isArrest == "false") {
          isArrest = false
        } else {
          isArrest = true
        }
        if (isNaN(lat) || isNaN(lon) || !isArrest) {
          continue
        }
        let point = new google.maps.LatLng(lat,lon)
        let datapoint = {location: point, weight: 1}
        points.push(datapoint)
         
      }
      return points
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>

<body>
  <div id="map"></div>
  <div id="container"></div>

</body>

</html>
